.product-catalog {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.label {
    text-align: center;
}

.buttons-row {
    padding: 20px;
}

.error-button-row {
    display: flex;
    justify-content: center;
    padding: 15px;
}